/*header*/
header {
    text-align: center;
    padding: 20px;
}
/*navigation menu*/
nav {
    text-align: center;
    word-spacing: 30px;
    Padding: 10px;
    background-color: #05b3e8;
}
    nav a {
        color: #000000;
        text-decoration: none;
        font-size: larger;
    }
/*two-column layout*/
* {
    box-sizing: border-box;
    background-color: #7a7a80;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.post-text-box {
    flex: 70%;
    padding: 20px;
    background-color: #7a7a80;
}

.profile {
    flex: 70%;
    padding: 20px;
}